@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;  
    text-align: center;
}

